@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@font-face 
{
    font-family: "Cloudstorm-lJX0.";
    src: url(../fonts/Cloudstorm-lJX0.woff);
}
@font-face 
{
    font-family: "Overpass-regular";
    src: url(../fonts/Overpass-Regular.woff);
}
h1{
    font-family: "Cloudstorm-lJX0.";
}
html{
    font-family: "Overpass-regular";
}
button{
    padding: 6px 20px;
    font-family: "Overpass-regular";
    border-radius: 8px;
}
.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  ww-card{
    margin: 0 .5rem .5rem 0;
  }