@font-face{
    font-family: "ShareTech-Regular";
    src: url("../ShareTech-Regular.woff") format('woff');
}

body{
    font-family: "ShareTech-Regular";
}

#output{
    font-size: 200%;
}

#myButton{
    font-family: "ShareTech-Regular";
    width: 200pt;
    height: 50pt;
    font-size: 15pt;
    background-color: black;
    color: white;
}

#fiveButton{
        display: none;
        font-family: "ShareTech-Regular";
        background-color: black;
        color: white;
        width: 300px;
        height: 75pt;
        font-size: 1.5rem;
}

@media only screen and (min-width: 240px){
    .container {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    html, body, .container {
        height: 100%;
        margin: 0;
    }

    h1{
        font-size: .8rem;
        background-color: #f78b26;
        color: #fffafa;
        padding: .5rem;
        margin: 0;
        text-align: center;

    }

    #output{
        text-align: center;
        font-size: 1rem;
    }

    #myButton{
    width: 100pt;
    height: 25pt;
    font-size: .8rem;
}
}

@media only screen and (min-width: 320px){
    .container {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    html, body, .container {
        height: 100%;
        margin: 0;
    }

    h1{
        font-size: 1.2rem;
        background-color: #174287;
        color: #F5F5F5;
        padding: .8rem;
        margin: 0;
        text-align: center;

    }

    #output{
        text-align: center;
    }
}

@media only screen and (min-width: 768px){
    h1{
        font-size: 3rem;
        background-color: #23d160;
    }

    #myButton{
        width: 300px;
        height: 75pt;
        font-size: 1.5rem;
    }

    body{
        color: darkgray;
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1024px){
    body{
        font-size: 1rem;
        text-align: left;
    }

    h1{
        background-color: #ff3860;
    }

    .container{
        display: block;
        margin: 1rem;
    }

    #output{
        text-align: left;
    }
}

@media only screen and (min-width: 1408px){
    #fiveButton{
        display: block;
    }
}
